.tuce-cont .tuce-preview__list .tuce-preview__item .preview-img-cont {
  height: 144px;
}

.tuce-cont .tuce-preview__list .tuce-preview__item {
  max-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.tuce-cont .tuce-preview__list .col-sm-12:not(:last-child) {
  margin-bottom: 10px;
}

.tuce-cont .tuce-preview__list .tuce-preview__item .item-title {
  color: #606266;
  font-size: 15px;
  text-align: center;
}

.tuce-cont .tuce-preview__list .tuce-preview__item .item-title .title-text {
  padding: 0 8px
}

@media (max-width: 600px) {
  .tuce-cont .tuce-preview__list .tuce-preview__item .item-title {
    margin-top: 5px;
  }
  .tuce-cont .tuce-preview__list .col-sm-12:not(:last-child) {
    margin-bottom: 15px;
  }
}